body {
    margin: 0;
}
.search-media {
    display: none;
}
.open {
    display: flex!important;
}
.search-area {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 100%;
}
.search-area__form {
    width: 100%;
}
.search-area__item {
    width: 100%;
    border-width: 0 0 1px 0;  
}
.search-area__item::-moz-placeholder {
    color: black;
}
.search-area__item[type="search"]::-webkit-input-placeholder {
    color: #000000;
}

.text_style {
    font-family: 'Montserrat';
    font-style: normal;
    color: #FFFFFF;
}
.text_style_black {
    font-family: 'Montserrat';
    font-style: normal;
    color: #000000;
}
.text_size_16 {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
.text_size_14 {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
.text_size_36 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
}
.text_size_48 {
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
}
.text_size_64 {
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
}
.text_size_24 {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}
.content-box {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.content-box h2 {
    margin: 64px 0 32px 0;
}

@font-face {
    font-family: Montserrat;
    src: url("./fonts/Montserrat-Medium.woff") format("woff");
}
@font-face {
    font-family: Montserrat;
    src: url("./fonts/Montserrat-Regular.woff") format("woff");
}
@font-face {
    font-family: Montserrat;
    src: url("./fonts//Montserrat-SemiBold.woff") format("woff");
}