.footer {
	background-color: #F7F6F6;
	margin-top: 64px;
}
.footer__block {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 32px 0 40px 0;
}
.footer__logo {
	flex-grow: 1.5;
}
.nav-list_mod {
	flex-direction: column;
	margin: 0;
	padding: 0;
}
.nav-footer__item .nav-list__item:nth-child(2) {
	padding: 12px 0 12px 0;
}
.footer__content {
	display: flex;
	flex-direction: row;
	flex-grow: 2;
	justify-content: space-between;
}
.footer__info {
	display: flex;
	flex-direction: row;
	flex-grow: 2;
	justify-content: space-evenly;
}
.footer__info h3 {
	margin: 0 0 12px 0;
}
.footer__info .text_style {
	color: #888888;
	opacity: 0.7;
}
.footer__item {
	display: flex;
	flex-direction: column;
}
.footer__item__link-email {
	padding: 12px 0 16px 0;
}
.footer__item a {
	text-decoration-line: none;
}
.footer__form {
	flex-grow: 1.5;
	align-items: flex-end;
}