header {
    background-image: url("../../img/img_index/main_img.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 735px;
}
.header-content h1 {
  margin: 0;
}
.header-content {
    width: 800px;
    box-sizing: border-box;
    padding-right: 50px;
    margin-top: 63px;
}
.header-content__text {
    opacity: .7;
}
.header-content__link {
 opacity: .5;
}

    