header {
    background-image: url("../../img/img_index/main_img.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 735px;
}
.header-content h1 {
  margin: 0;
}
.header-content {
    width: 800px;
    box-sizing: border-box;
    padding-right: 50px;
    margin-top: 63px;
}
.header-content__title {
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    color: #FFFFFF;
}
.header-content__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    opacity: .7;
}
.header-content__link {
    opacity: .5;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

    