.nav-list {
    display: flex;
    flex-direction: row;
}
.nav-list__item {
    list-style-type: none;
    
}
.nav-list__item:first-child {
    margin-right: 32px;
}
.nav-list__link {
    text-decoration: none;
    opacity: .7;
}