.for {

}
.for__content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 32px;
}
.for__item {
	position: relative;
}
.for__item__link {

}
.for__item__text {
	position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    margin: 0;
	font-weight: 600;
	font-size: 34px;
	line-height: 41px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
}
.for__item__img {
	width: 100%;
}