.product {
	flex-basis: 378px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.product a {
	text-decoration-line: none;
}
.product_mrg {
	margin: 0 32px;
}
.product__img {
	width: 100%;
}
.product__text {
	color: #888888;
	margin: 0 0 14px 0;
	text-align: justify;
	opacity: 0.7;
}
.product__title {
	color: #000000;
	margin: 10px 0
}
.product__price {
	color: #888888;
	text-decoration: line-through;
	padding-left: 32px;
}
.product__price-sales {
	color: #050505; 
}