@media screen and (max-width: 833.98px) {
	.content-box {
		max-width: 833.98px;
	}


                 /* FOR MEDIA-SCREEN */
                 
	.for__item:nth-child(-n+2) {
		flex-basis: 377px;
	}
	.for__item {
		flex-basis: 240px;
	}



                 /* PRODUCT MEDIA-SCREEN */

	.product {
		flex-basis: 377px;
	}
	.product-box-navigation {
		flex-direction: row;
	}


	            /*FOOTER MEDIA-SCREEN*/

	.footer__logo {
		display: none;
	}
	.footer__form {
		flex-grow: 3.5;
	}
	.footer__info {
		justify-content: space-between;
	}
}