@media screen and (max-width: 374.98px) {
	.content-box {
		min-width: 374.98px;
	}

	.product-box-navigation {
		flex-direction: column;
	}

	.logo {
		font-size: 18px;
		line-height: 22px;
		flex-grow: 3.5;
	}
	.navbar {
		border: 0;
		padding: 50px 0 0 0;
	}
	.navbar .search {
		display: none;
	}
	header .nav-list {
		display: none;
	}
	.header-content {
		width: 100%;
		padding: 0;
		text-align: center;
	}
	.header-content__title {
		font-size: 48px;
	}
	.header-content__text {
		font-size: 16px;
	}
	.header-content__link {
		font-size: 14px;
	}
	.search-media-mobile {
		display: flex;
		justify-content: space-between;
		flex-grow: 1.8;
		align-items: center;
	}

	.search-area-mobile .nav-list__link {
		color: #000000;
	}

	.content-box h2 {
		margin: 32px 0;
		font-size: 24px;
	}



	.for__item {
		flex-basis: 343px;
	}
	.for__item:nth-child(5) {
		margin: 0;
	}
	.for__item {
		margin: 0 0 12px 0;
	}
	section .text_size_24 {
		font-size: 18px;
	}




	
	



	.footer__content {
		flex-direction: column;
	}




	.form {
		align-items: center;
	}
}